<style>
  table {
    table-layout: fixed;
    width: 100%;
  }
  td {
    width: 25%;
    text-align: center;
  }
  .visible {
    display: block;
  }
  .hidden {
    display: none;
  }
  .actions {
    display: flex;
  }
  button {
    width: 100%;
  }
</style>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cargo</th>
      <th>Contato</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let item of items"
      (mouseover)="mouseOver(item)"
      (mouseout)="mouseOut(item)"
    >
      <td [ngClass]="{ hidden: this.hover === item.id }">{{ item.name }}</td>
      <td [ngClass]="{ hidden: this.hover === item.id }">{{ item.role }}</td>
      <td [ngClass]="{ hidden: this.hover === item.id }">{{ item.phone }}</td>
      <td [ngClass]="{ hidden: this.hover !== item.id }" colspan="3">
        <div class="actions">
          <button>Ver mais</button>
          <button>Editar</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
